
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}

/*HEADER*/
.logo img{
    width: 45px;
    margin: 10px;
}

.logo a{
    text-decoration: none;
    color: rgb(252, 213, 53);
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 600;
}

nav{
    background: rgb(48, 51, 59);
    width: 100%;
    border-bottom: 2px solid rgb(252, 213, 53);
}

.menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.links{
    display: flex;
    align-items: center;
    color: #fff;
}

.links span{
    margin-right: 15px;
}

.links a{
    text-decoration: none;
    margin-right: 10px;
}

.links a img{
    width: 27px;
    background-color: #fff;
    border-radius: 15px;
}

.links div a{
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links .drop_menu{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 5rem;
    line-height: 45px;
    background-color: #242526;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.links div:hover .drop_menu{
    top: 50px;
    opacity: 1;
    visibility: visible;
}

.drop_menu a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    color: #fff;
}

/*BODY*/

.body{
    height: 100%;
    background-color: rgb(24, 26, 32);
    flex-direction: column;
    display: flex;
    align-items: center;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(35, 37, 44) 30%, rgb(24, 26, 32) 100%);
    padding: 0 30px;
    font-weight: 600;
}

.ref-month{
    color: #fff;
}

.cont-form select{
    font-size: 16px;
    font-weight: normal;
    width: 300px;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
}

.search{
    position: relative;
}

.search i{
    position: absolute;
    left: 90%;
    top: 15px;
}

.search input[type=text]{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    padding: 12px 10px;
    transition: width 0.5s ease-out;
}

.resume{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    flex-wrap: wrap;
    width: 90%;
}

.resume-cards{
    width: 25%;
    height: 70%;
    background: rgb(48, 51, 59);
    border: 2px solid rgb(252, 213, 53);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-weight: bold;
    position: relative;
}

.header-resume{
    font-size: 30px;
    color:white;
    font-weight: bold;
}

.resume-body{
    display: flex;
    align-items: center;
}

.resume-body span, p{
    padding: 4px;
    font-size: 50px;
}

.resume-body i{
    font-size: 50px;
    left: 10px;
}

.table{
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    max-height: 45%;
}

.table-reg{
    width: 100%;
}

.icon-container i{
    padding: 0 5px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s ease-in;
}

.icon-container i:hover {
    opacity: 0.4;
    scale: 1.7;
    cursor: pointer;
}

.table-reg thead tr,
.table-reg thead th{
    border-top: 0;
    color: #fff;
    padding: 10px 0;
}

.table-reg tbody th,
.table-reg tbody td{
    color: #b6afaf;
    font-weight: 400;
    font-weight: 300;
    text-align: center;
}

.table-reg tbody tr th,
.table-reg tbody tr td{
    background: rgb(69, 70, 73);
    border: 0;
    transition: 0.3s all ease;
    padding: 20px;
    width: 5%;
}

.table-reg tbody tr.active th, .table-reg tbody tr.active td,
.table-reg tbody tr:hover th, .table-reg tbody tr.hover td{
    color: #fff;
    background: red;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a8bbbf;
}

.modal-read,
.modal-update,
.modal-delete{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
}

.modal-content-delete,
.modal-content-ler{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    animation: modal .4s;
}

.modal-content-update{
    background-color: #fff;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    margin: 30px auto;
    height: 90vh;
    animation: modal .4s;
    overflow-y: scroll;
}

.modal-update-corpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding-bottom: 10px;
}

.header-modal-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-modal-table h2{
    font-size: 20px;
    font-weight: bold;
}

.close-modal-delete,
.close-modal-read,
.close-modal-update{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-delete:hover, .close-modal-delete:focus,
.close-modal-read:hover, .close-modal-read:focus,
.close-modal-update:hover, .close-modal-update:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-delete-corpo p,
.modal-read-body p{
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-delete-footer,
.modal-read-footer,
.modal-update-footer{
    display: flex;
    justify-content: flex-end;
}

.btn-delete-conf,
.btn-update-conf,
.btn-cancel{
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(248, 30, 30);
    cursor: pointer;
}

.btn-cancel{
    background-color: #ccc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;;
}

.btn-delete-conf:hover, .btn-delete-conf:focus,
.btn-cancel:hover, .btn-cancel:focus{
    outline: none;
}

.btn-delete-conf:hover,
.btn-delete-conf:focus{
    background-color: red;
}

.btn-cancel:hover,
.btn-cancel:focus{
    background-color: #a8bbbf;
}

.btn-mais{
    background-color: rgb(252, 213, 53);
    border: 1px solid rgb(252, 213, 53);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    touch-action: manipulation;
}

.btn-mais:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
    background-color: rgb(226, 190, 47);
}

.btn-open{
    background-color: rgb(252, 213, 53);
    border: 1px solid rgb(252, 213, 53);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    touch-action: manipulation;
}

.btn-open:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
    background-color: rgb(226, 190, 47);
}

hr{
    border: 0px;
    border-top: 1px solid rgb(211, 211, 211);
}

.modal-container{
    width: 100vw;
    position: fixed;
    top: 30px;
    z-index: 999;
    display: flex;
    justify-content: center;
    height: 90%;
    display: none;
    padding-bottom: 10px;
    
}

.modal-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    background-color: rgb(48, 51, 59);
    border-radius: 10px;
    width: 50%;
    height: auto;
    justify-content: space-between;
}

.header-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.header-modal h2{
    font-weight: bold;
    text-transform: uppercase;
}

.close-modal{
    font-size: 30px;
    cursor: pointer;
}

.modal-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

#form-reg{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

label{
    display: block;
    font-weight: 600;
    padding: 5px;
}

.form-body{
    width: 100%;
}

.space{
    margin: 2%;
}

.select-control{
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
}

.select-control select{
    appearance: none;
}

.form-body select{
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
}

.form-corpo select:active,
.form-corpo select:focus{
    outline: none;
    box-shadow: none;
}

.select-control::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    cursor: pointer;
}

.form-body-selects{
    width: 100%;
}

.form-label{
    font-size: 16px;
    display: block;
}

#long-desc, #long-desc-update,
#desc, #desc-update,
#valor, #valor-update,
#dataInput, #dateInput-update{
    color: black;
    font-size: 1rem;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    height: 3rem;
    display: block;
    background-color: #E6E6E6;
}

.form-body-selects small{
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

::placeholder{
    font-size: 16px;
}

/*MODAL FOOTER*/

.btns{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10px;
}

.btns-footer{
    margin-top: 20px;
}

.btns button{
    font-size: medium;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

#button-ok{
    background-color: #13aa52;
}

#button-ok:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
    background-color: #199b4f;
}

#button-close:hover{
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #FAFBFC;
    transform: translateY(-2px);
}

.popup-success,
.sucesso-update{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    visibility: hidden;
}

.popup-success,
.sucesso-update-content{
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(252, 213, 53);
}

.popup-success p,
.sucesso-update-content p{
    font-size: 30px;
    color: #fff;
}

.animate{
    animation: bounceInLeft .8s ease;
}

@keyframes bounceInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    60%{
        opacity: 1;
        transform: translateX(25%);
    }
    75%{
        transform: translateX(-10%);
    }
    90%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0%);
    }
}

/*animações*/

.active{
    display: flex;
}

.active .modal-body{
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*menu mobile ajustes*/
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.modal-detalhe{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: -70px;
    width: 100%;
    height: 100%;
}

.modal-detalhe-corpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content-detalhe{
    background-color: #242526;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid rgb(252, 213, 53);
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}

.grafico{
    width: 600px;
    height: 300px;
}

.cards-detalhes{
    background: rgb(48, 51, 59);
    border: 2px solid rgb(252, 213, 53);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;
}

.valores-detalhes{
    text-align: center;
}

.valores-cards-detalhes span,
.valores-cards-detalhes p{
    font-size: 18px;
    color: #fff;
}

.detalhes-header{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.header-cards-detalhes{
    font-size: 20px;
    color: #a8bbbf;
}

.close-modal-detalhe{
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.btn-detalhe{
    background-color: #aaa;
    font-size: 17px;
    color: black;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    touch-action: manipulation;
}

.btn-detalhe:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
    background-color: #F3F4F6;
}

.close-modal-detalhe:hover,
.close-modal-detalhe:focus{
    text-decoration: none;
    cursor: pointer;
}

.modal-detalhe-footer{
    display: flex;
    justify-content: flex-end;
}

.header-modal-detalhe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-modal-detalhe h2{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.valores-cards-detalhes{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 1281px) and (max-width: 1500px){
    .header-resume{
        font-size: 25px;
    }
    .valores-corpo span, .valores-corpo p{
        font-size: 14px;
    }
    .resume{
        width: 100%;
    }
    .modal-body{
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width: 1250px){
    .search input[type=text]:focus{
        width: 31.25rem;
    }
    .valores-corpo span, .valores-corpo p{
        font-size: 2.5rem;
    }
    .modal-body{
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px){
    body{
        height: auto;
        overflow-y: scroll;
    }
    .header-resume{
        font-size: 18px;
    }
    .valores-corpo span, .valores-corpo p{
        font-size: 25px;
    }
    .valores-corpo{
        flex-wrap: wrap;
    }
    .resume{
        width: 100%;
    }
    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: auto;
    }
    .cont-form, .cont-form select{
        width: 18.75rem;
        order: 2;
    }
    .btn-open{
        width: 18.75rem;
        order: 3;
    }
    .search{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .search input[type=text]{
        padding: 12px 10px;
    }
    .search input[type=text]:focus{
        width: 30.25rem;
    }
    .table{
        width: 100%;
    }
    .table-reg thead tr, .table-reg thead th{
        font-size: 12px;
    }
    .table-reg tbody th, .table-reg tbody td{
        padding: 10px 15px;
        font-size: 12px;
    }
    .modal-body{
        width: 90%;
        height: auto;
    }
    .modal-content-update{
        width: 90%;
        height: auto;
    } 
}

@media only screen and (max-width: 950px){
    .header-resume{
        font-size: 30px;
    }
    .valores-corpo span, .valores-corpo p{
        font-size: 18px;
    }
    body{
        height: auto;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 769px){
    body{
        height: auto;
        overflow-y: scroll;
    }
    .nav-item{
        display: none;
        background: #25252b;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
    }
    .mobile-menu div{
        background: #25252b;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1rem 2rem;
    }
    .open{
        display: block;
    }
    .header-resume{
        font-size: 18px;
    }
    .valores-corpo span, .valores-corpo p{
        font-size: 35px;
    }
    .resume{
        width: 100%;
        height: 37.5rem;
        margin-top: 10px;
    }
    .resume-cards{
        margin: 10px auto;
        width: 70%;
        height: 180px;
    }
    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: auto;
    }
    .cont-form, .cont-form select{
        width: 18.75rem;
        order: 2;
    }
    .btn-open{
        width: 18.75rem;
        order: 3;
    }
    .search{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .search input[type=text]{
        padding: 12px 10px;
    }
    .table{
        width: 100%;
        height: 100%;
    }
    .table-reg thead tr, .table-reg thead th{
        font-size: 12px;
    }
    .table-reg tbody th, .table-reg tbody td{
        padding: 10px 15px;
        font-size: 12px;
    }
    .modal-body{
        width: 100%;
        height: 100%;
    }
    .modal-container{
        height: 100%;
        border-top: 0;
        position: absolute;
        top: 0;
    }
    .modal-content-update{
        width: 90%;
        height: auto;
    }
}